*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container{
    text-align: center;
    margin: 100px;
}
.animated-button{
    padding:10px;
    height: 100px;
    width:100px;
    font-size:large;
    color: aquamarine;
    background-color: yellowgreen;
    border: none;
    border-radius: 25px;
    cursor:progress;
    animation:bounce 0.5s infinite ease-in-out;
}
h1{
    font-size: 150px;
}

@keyframes bounce{
    0%,100%{
        transform: translateY(10);
    }
    50%{
        transform: translateY(-100px);
    }
}