body{
    margin:0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.gallery{
    padding:20px;
    background-color: brown;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.item{
    background-color: black;
    color:yellow;
    text-align: center;
    padding: 20px;
    /* line-height: 6.5px; */
    border-radius: 25px;
    margin:10px;
}
.img{
    height: 100px;
    width:100px
}