.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link { 
  color: #61dafb;
}

@keyframes App-logo-spin {
  /* from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  50%{
    height:100px;
    width:200px
  }
75%{
  height: 500px;
} */
}

.parent{
  height:100vh;
  width: 100%;
  /* background-color: red; */
  display: grid;
  border:2px solid grey;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows:auto 80vh auto;
}
.child{
  background-color: pink;
  border:2px solid grey;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.col{
    grid-column: span 3;
}