/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
 .root{
  height:100vh;
  width:100%
 }
/* .App{ */
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  /* padding:25%;
  gap:20px */
/* } */

.form{
  height:500px;
  width:500px;
  background: linear-gradient(#EEE8AA,#DCDCDC,#F0FFFF,#E6E6FA); 
  border-radius:25PX;
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form form {
  /* display: flex;
  flex-direction: column; */
  line-height: 70px;
}
.login-img{
  height: 200px;
  width:200px;
  border-radius: 50%;
}
.submit-btn{
  padding: 10px;
  height: 40px;
  width:200px;
  text-align: center;;
  border-radius: 10px;
  border:2px solid #FFFFF0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFDAB9;
  cursor: pointer;
  /* background: linear-gradient(red,black,white); */color:Black ;
}
.submit-btn:hover{
  background-color: #90EE90;
  /* transform: scale(1.1); */
  transform: translateY(-5px);
  /* box-shadow:100px 200px 300px black; */
}
input{
  height:25px;
  width:200px;
  border:none;
  border-radius: 20px;
  padding:10px;
}
input:hover{
  border:none;

}
.http-content{
  margin:20px;
  padding:10px;
  background: linear-gradient(#EEE8AA,#DCDCDC,#F0FFFF,#E6E6FA); 
  height:75vh;
  width:95% ;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}
.load{
  background-color: red;
}
table{
  height:600px;
  /* background: linear-gradient(#EEE8AA,#DCDCDC,#F0FFFF,#E6E6FA);  */
  /* border:2px solid red; */
  /* border-radius: 25px; */
}
thead th{
  /* border:2px solid red; */
  font-size:20px;
  color:darkolivegreen;
  background-color: #F0FFFF;
}
tr:nth-child(odd){
  background-color:#C0C0C0;
}
body tr:nth-child(even){
  background-color:#DCDCDC;
}