body{
    padding:0;
    margin:0;
}
header{
    background-color: rgb(121, 223, 255);
    width:100%;
    padding:20px;
    margin:10px;
    display: flex;
    
    /* flex-wrap: wra; */
}
header img{
    height: 100px;
    width:100px;
    border-radius:50%;
}
