* {
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url(https://192.168.0.3/sonicui/7/static/login/cloud-gray.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
    display: grid;
    /* justify-content: space-around; */
    grid-template-columns: 40vw auto;
    /* margin:10px */
}

.section1 {
    /* background-color: #c9c9c9; */
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
    /* background/ */
    /* height:100vh; */
    /* width:45vw; */
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: ; */
    gap: 100px;
    color: #c9c9c9;
    /* margin-left: -900px; */
}
.curve{ 
    /* height: 200px; */
    /* width:400px; */
    margin-left:-1000px;
    margin-top: -250px;
    margin-bottom:-1000px
}
.head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    gap: 15px;
    margin-left:-100px
}

.sonic-header {
    height: 100px;
    width: 100px
}

h1 {
    font-size: 20px;
}

.form {
    /* background-color: red; */
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-items: center; */
    gap:10px
}

.section2 {
    /* background-color: red; */
    height: 95vh;
    width: 45vw;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
}

.circle {
    background-color: yellowgreen;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 5px solid #7a7979
}
 
.content{
    display: flex;
    cursor: pointer;
    /* color: red; */
    /* margin:10px */
}
.h-p:hover h2{
    color: red;
}
.h-p {
    margin: 10px;
    /* background-color: #333; */
    /* display: flex; */
    /* text-align: center; */
}
.h-p h2{
    color: #333;
}
.h-p{
    color: rgb(102, 102, 102);
}
.c1{
    background-color: rgb(13, 182, 163);
}
.c2{
    background-color:rgb(206, 138, 190) ;
}
.c3{
    background-color: rgb(253, 163, 72);
}
.c4{
    background-color: rgb(233, 0, 118);
}
.c5{
    background-color: rgb(120, 125, 182);
}