@import url('https://fonts.googleapis.com/css2?family=Molle&display=swap');
:root{
    --first-color:hsl(230,100%,50%);
    --second-color:hsl(150,100%,38%);
    --title-color:hsl(230,24%,12%);
    --text-color:hsl(230,4%,60%);
    --grey-color:hsl(230,24%,88%);
    --border-color:hsl(230,4%,92%);
    --body-color:hsl(230,100%,98%);
    --container-color:hsl(0,0%,100%);
}
*{
    padding: 0;
    margin: 0;
    font-family: "Molle", serif;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: "molle";
    font-size: 1.2rem;
    background-color: var(--body-color);
    /* background-color: red; */
    color: var(--text-color);
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}