.fav-div{
    /* background-color: violet; */
    max-width:100vw;
    min-height: 100vh;
}
.fav-container{
    /* background-color: aquamarine; */
    height:auto;
    width:90% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fav-div-header{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

.fav-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    margin-left: 20px;
}
.fav-item{
    height: 300px;
    width: auto;
    background-color: #2B2B2B;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.fav-image-div{
    background-color: aqua;
    height: 50%;
    width: 100%;
    object-fit: cover;
}
.fav-image-div img{
    height: 100%;
    width: 100%;
}