.nav-bar{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    margin:10px 30px 0px;
    border:1px solid rgb(238 238 238);
}
span{
    color: rgb(61 71 80);
}
.search{
    /* background-color: red; */
    display: flex;
    width: auto;
    /* border:2px solid red; */
    border-radius: 25px;
    gap: 50px;
}
.filters{
    border:none;
    border-radius: 25px;
}
.button-input{
    display: flex;
}
.button-input img{
    margin-left:-40px
}
.search input{
    height: 30px;
    width:400px;
    border:2px solid grey;
    border-radius: 25px;
}
.search button{
    border:none;
    border-radius: 50%;
    border: none;
}
.icons{
    display: flex;
    gap:20px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.path-links{
    text-decoration: none;
}
@media (max-width:768px){
    .nav-bar{
        flex-direction: column;
        gap:20px;
    }
}
@media (min-width:768px) and (max-width:900px){
    .nav-bar{
        gap:20px;
    }
    .search input{
        width: 150px;
    }
}