
.new-arrivals{
    margin-left: 20px;
    min-height:100vh ;
    max-width:100vw;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.arr-header{
    font-size: 25px;
}
.arr-header span{
    color: #0d6efd;
}
.arr-bottom{
    font:25px;
    color: rgb(104 110 125 );
}
.arrival-container .arr-content{
    flex-direction: column;
    display: flex;
    gap:10px;
    align-items: center;
}
.arr-nav{
    width: 100%;
}
.arr-nav ul{
    display: flex;
    justify-content: space-around;
}
.arr-nav ul li{
    list-style: none;
}
.product-list{
    display: grid;
    /* background-color: red; */
    grid-template-columns: 1fr 1fr;
}
.container{
    border: 0.1px solid #e5e7eb;
    width: 220px;
    /* background-color: red; */
    border-radius: 30px;
    margin: 20px;
    position: relative;
} 
.image{
    position: relative;
}
.first-image,
.second-image{
    width:100%;
    height: 100%;
    /* border: 0.1px solid #e5e7eb; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; 
    mix-blend-mode:multiply;
    transition: all 0.3s ease; 
}
.first-image:hover{
    /* transform: scale(1.1); */
    opacity: 0;
}
.image:hover .second-image{
    opacity:1 ;
    transition: 1.5s;
}
.first-image{
    opacity: 1;
}
.second-image{
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: -2;
}
.options{
    display: flex;
    /* position: absolute; */
    justify-content: space-around;
    /* top:0; */
    /* height: 100%;
    width:100%; */
    /* background-color: red; */
    align-items: end;
    opacity: 0;
    transition: 0.5s;
}
.options button{
    height: 25px;width: 25px;
    text-align: center;
    border-radius: 50%;
    border: none;
    transition: 1.5s;
    transform: translateY(40px);
    cursor: pointer;
}   

.container:hover .options{
    /* background-color: red; */
    opacity: 1;
}
.options button:nth-child(1){
    transition: 0.6s;
}
.options button:nth-child(2){
    transition: 1.3s;
}
.options button:nth-child(3){
    transition: 1.8s;
}
.options button:nth-child(4){
    transition: 2.3s;
}
.container:hover .options button:nth-child(1){
    transform: translateY(0);
}
.container:hover .options button:nth-child(2){
    transform: translateY(0);
}
.container:hover .options button:nth-child(3){
    transform: translateY(0);
}
.container:hover .options button:nth-child(4){
    transform: translateY(0);
}

.rating{
    display: flex;
    justify-content: space-between;
}   
.rating h2 {
    font-size:25px ;
    color: #686e7d;
}
.rating h3{
    font-size: 12px;
    padding: 6px;
}
.content{
    margin-left: 10px;
    padding: 20px;
}
.content .p-name{
    font-size:20px;
    color: #686e7d;
    text-align: center;
}
.rupee p{
    display: flex;
    justify-content: space-evenly;
    /* gap:20px */
}
.eye-hide{
    position: absolute;
    top:0;
    height: 90vh;
    width:90vw;
    /* background-color: red; */
    border-radius: 30px;
    /* border:20px solid black */
}
@media (max-width:600px){
    .new-arrivals{
        display: flex;
        /* justify-content: space-evenly; */
    }
    .product img{
        height: 50px;
        width: 50px;
    }
    .product-list{
        width:100vw;
    }
}
@media (max-width:768px) and (min-width:600px){
    .product-list{
        /* background-color: red; */
        margin-left:260px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width:992px) {
    .product-list{
        /* background-color: red; */
        margin-left:260px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

