/* body{ */
    /* background-color: #0dcaf0; */
/* } */
.signup{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    /* background: linear-gradient(#F0FFF0,#FFF0F5,#F5FFFA,#FFFACD); */
    background-color: #F0FFF0;
    height:600px;
    width:500px;
    border-radius: 25px;
    top:25%;
    left:30%;
    gap:30px;
    box-shadow: 10px 10px 15px #B0C4DE;
}

.forms{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.forms input{
    border: 2px solid lightblue;
    height: 40px;
    width:200px;
    border-radius: 25px;
}
.error{
    /* background-color:; */
    padding: 10px;
    border-radius: 30px;
    color: #dc3545;
}